@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wallpaper_city_bg {
    @apply h-screen bg-gradient-to-t from-[#ffbda3] to-[#d797b9] relative;
  }
  .wallpaper_sky_bg {
    @apply h-screen bg-gradient-to-t from-[#bee4f9] to-[#79caf9] relative;
  }

  .wallpaper_city_taskbar {
    @apply bg-amber-800/40;
  }
  .wallpaper_city_taskbar_start {
    @apply hover:bg-[#644035] hover:text-[#fdaf60];
  }

  .wallpaper_sky_taskbar {
    @apply bg-sky-800/60;
  }
  .wallpaper_sky_taskbar_start {
    @apply hover:bg-[#1d3557] hover:text-[#9dbeff];
  }

  .icon_hover {
    @apply hover:bg-sky-600/10 hover:border-sky-200/50 hover:border-[1px] hover:cursor-default hover:px-1;
  }
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 30px solid black;
}
